.finder-contextmenu .finder-contextmenu-item span { font-size:.76em; }

.finder-cwd-view-icons .finder-cwd-filename { font-size:.7em; }
.finder-cwd-view-list td { font-size:.7em; }

.std42-dialog .ui-dialog-titlebar { font-size:.82em; }
.std42-dialog .ui-dialog-content { font-size:.72em; }
.std42-dialog .ui-dialog-buttonpane { font-size:.76em; }
.finder-info-tb { font-size:.9em; }
.finder-upload-dropbox { font-size:1.2em; }
.finder-upload-dialog-or { font-size:1.2em; }
.dialogfinder .dialogfinder-drag { font-size:.9em; }
.finder .finder-navbar { font-size:.72em; }
.finder-place-drag .finder-navbar-dir { font-size:.9em;}
.finder-quicklook-title { font-size:.7em; }
.finder-quicklook-info-data { font-size:.72em; }
.finder-quicklook-preview-text-wrapper { font-size:.9em; }
.finder-button-menu-item { font-size:.72em; }
.finder-button-search input { font-size:.8em; }
.finder-statusbar div { font-size:.7em; }
.finder-drag-num { font-size:12px; }

