/**
 * MacOS X like theme
 * Required jquery ui "smoothness" theme.
 *
 * @author Dmitry (dio) Levashov
 **/

/* dialogs */
.std42-dialog, .std42-dialog .ui-widget-content { background-color:#ededed; background-image:none; background-clip: content-box; }

/* navbar */
.finder .finder-navbar { background:#dde4eb; }
.finder-navbar .ui-state-hover  { background:transparent; border-color:transparent; }
.finder-navbar .ui-state-active { background: #3875d7;    border-color:#3875d7; color:#fff; }
.finder-navbar .finder-droppable-active {background:#A7C6E5 !important;}
/* disabled finder */
.finder-disabled .finder-navbar .ui-state-active { background: #dadada; border-color:#aaa; color:#fff; }


/* current directory */
/* selected file in "icons" view */
.finder-cwd-view-icons .finder-cwd-file .ui-state-hover { background:#ccc; }
/* list view*/
.finder-cwd table tr:nth-child(odd) { background-color:#edf3fe; }
.finder-cwd table tr { border-top:1px solid #fff; }

/* common selected background/color */
.finder-cwd-view-icons .finder-cwd-file .finder-cwd-filename.ui-state-hover,
.finder-cwd table td.ui-state-hover,
.finder-button-menu .ui-state-hover { background: #3875d7; color:#fff;}
/* disabled finder */
.finder-disabled .finder-cwd-view-icons .finder-cwd-file .finder-cwd-filename.ui-state-hover,
.finder-disabled .finder-cwd table td.ui-state-hover { background:#dadada;}

/* statusbar */
.finder .finder-statusbar { color:#555; }
.finder .finder-statusbar a { text-decoration:none; color:#555;}


.std42-dialog .finder-help, .std42-dialog .finder-help .ui-widget-content { background:#fff;}

/* contextmenu */
.finder-contextmenu .ui-state-hover { background: #3875d7; color:#fff; }
.finder-contextmenu .ui-state-hover .finder-contextmenu-arrow { background-image:url('../img/arrows-active.png'); }






